[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "excel2eprime"]
	path = excel2eprime
	url = https://github.com/wujackwill/excel2eprime
